body {
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

img {
    margin-top: 20px;
}

pre {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media,
.cont {
    color: #006fb2;
}

.titulos {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blue;
    text-align: center;
}

.dir,
phone,
em,
fb,
likd,
whp {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-align: right;
}

.row {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.form-control {
    border: 2px solid red;
    border-radius: 5px;
}

label {
    padding: 5px;
    margin-top: 10px;
}

.text-receta {
    color: #00387f;
}

pre {
    border-color: black;
}

rg {
    margin-left: 45px;
}